.table-bordered thead th {
    text-align: center;
}

.table-bordered tbody td {
    vertical-align: middle;
    text-align: center;
}

.row {
    width: 58%;
    margin: auto;
    align-items: center;
}